#mainDiv{
    text-align:center;
}
button{
    width: 100%;
    background-color: white;
    height: 45px;
    border: 2px solid #bcd7ff;
    border-radius: 6px;
    color: #2a4267;
    margin-top: 25px;
}
h1{
    color: #432373;
}